:root {
    --psp-left: #000449;
    --psp-right: #0b52c3;
    --wave-glow: #18bbdb;
    --background-color: linear-gradient(to top, color-mix(in srgb, var(--wave-glow), transparent 100%) 0%, color-mix(in srgb, var(--psp-right), transparent 60%) 60%, rgba(132, 31, 31, 0) 100%),
        radial-gradient(circle at 0% 0%, var(--psp-left) 0%, transparent 70%),
        radial-gradient(circle at 100% 100%, var(--wave-glow) 0%, var(--psp-right) 40%);

    --wave-1: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40000 4000' preserveAspectRatio='none' shape-rendering='geometricPrecision'%3E%3Cdefs%3E%3Cfilter id='b1' x='-50%25' y='-50%25' width='200%25' height='200%25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='12'/%3E%3C/filter%3E%3Cfilter id='b2' x='-50%25' y='-50%25' width='200%25' height='200%25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='16' /%3E%3C/filter%3E%3Cfilter id='b3' x='-400' y='-400' width='48000' height='4800' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='120' /%3E%3C/filter%3E%3Cpath id='wave' d='m0 4000.2h40000v-1728c-333.3333 0-375 1058.4-666.6667 954.72-275-99.36-391.6666-1330.56-666.6666-1447.2s-391.6667 885.6-666.6667 889.92-391.6667-997.92-666.6667-872.64-391.6666 1447.2-666.6666 1468.8-391.6667-1222.56-666.6667-1365.12-391.6667 669.6-666.6667 686.88-391.6666-673.92-666.6666-600.48-391.6667 989.28-666.6667 954.72c-275-30.24-391.6667-1101.6-666.6667-1110.24s-391.6666 997.92-666.6666 1075.68-391.6667-747.36-666.6667-695.52-391.6667 1002.24-666.6667 950.4-391.6666-1149.12-666.6666-1205.28-391.6667 881.28-666.6667 933.12-391.6667-604.8-666.6667-691.2-391.6666 380.16-666.6666 272.16-391.6667-825.12-666.6667-790.56c-275 30.24-391.6667 876.96-666.6667 946.08s-391.6666-600.48-666.6666-622.08-391.6667 501.12-666.6667 518.4-391.6667-531.36-666.6667-427.68-391.6666 946.08-666.6666 924.48-391.6667-993.6-666.6667-1019.52-391.6667 898.56-666.6667 885.6-391.6666-937.44-666.6666-941.76-391.6667 1028.16-666.6667 920.16-391.6667-1473.12-666.6667-1442.88-375 1611.36-666.6666 1576.8-333.3334-725.76-666.6667-725.76c-333.3333 0-375 1058.4-666.6667 954.72-275-99.36-391.6666-1330.56-666.6666-1447.2s-391.6667 885.6-666.6667 889.92-391.6667-997.92-666.6667-872.64-391.6666 1447.2-666.6666 1468.8-391.6667-1222.56-666.6667-1365.12-391.6667 669.6-666.6667 686.88-391.6666-673.92-666.6666-600.48-391.6667 989.28-666.6667 954.72c-275-30.24-391.6667-1101.6-666.6667-1110.24s-391.6666 997.92-666.6666 1075.68-391.6667-747.36-666.6667-695.52-391.6667 1002.24-666.6667 950.4-391.6666-1149.12-666.6666-1205.28-391.6667 881.28-666.6667 933.12-391.6667-604.8-666.6667-691.2-391.6666 380.16-666.6666 272.16-391.6667-825.12-666.6667-790.56c-275 30.24-391.6667 876.96-666.6667 946.08s-391.6666-600.48-666.6666-622.08-391.6667 501.12-666.6667 518.4-391.6667-531.36-666.6667-427.68-391.6666 946.08-666.6666 924.48-391.6667-993.6-666.6667-1019.52c-275-25.92-391.6667 898.56-666.6667 885.6-275-12.96-391.6666-937.44-666.6666-941.76s-391.6667 1028.16-666.6667 920.16-391.6667-1473.12-666.6667-1442.88-375 1611.36-666.6666 1576.8-333.3334-725.76-666.6667-725.76z'/%3E%3C/defs%3E%3Cuse href='%23wave' fill='%230b52c3' opacity='0.4' /%3E%3Cuse href='%23wave' stroke='%23ffffff' stroke-width='20' stroke-opacity='0.01' fill='none' transform='translate(0,10)' /%3E%3Cuse href='%23wave' stroke='%23ffffff' stroke-width='90' stroke-opacity='0.02' fill='none' filter='url(%23b1)' transform='translate(0,55)' /%3E%3Cuse href='%23wave' stroke='%23ffffff' stroke-width='50' stroke-opacity='0.0' fill='none' filter='url(%23b1)' transform='translate(0,100)' /%3E%3Cuse href='%23wave' stroke='%2318bbdb' stroke-width='0' stroke-opacity='0.7' fill='%2318bbdb' filter='url(%23b3)' transform='translate(0,350)' /%3E%3C/svg%3E");

    --wave-2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40000 4000' preserveAspectRatio='none' shape-rendering='geometricPrecision'%3E%3Cdefs%3E%3Cfilter id='b1' x='-50%25' y='-50%25' width='200%25' height='200%25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='12'/%3E%3C/filter%3E%3Cfilter id='b2' x='-50%25' y='-50%25' width='200%25' height='200%25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='16' /%3E%3C/filter%3E%3Cfilter id='b3' x='-400' y='-400' width='48000' height='4800' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='120' /%3E%3C/filter%3E%3Cpath id='wave' d='m0 4000.2h40000v-1728c-333.3333 0-375 1058.4-666.6667 954.72-275-99.36-391.6666-1330.56-666.6666-1447.2s-391.6667 885.6-666.6667 889.92-391.6667-997.92-666.6667-872.64-391.6666 1447.2-666.6666 1468.8-391.6667-1222.56-666.6667-1365.12-391.6667 669.6-666.6667 686.88-391.6666-673.92-666.6666-600.48-391.6667 989.28-666.6667 954.72c-275-30.24-391.6667-1101.6-666.6667-1110.24s-391.6666 997.92-666.6666 1075.68-391.6667-747.36-666.6667-695.52-391.6667 1002.24-666.6667 950.4-391.6666-1149.12-666.6666-1205.28-391.6667 881.28-666.6667 933.12-391.6667-604.8-666.6667-691.2-391.6666 380.16-666.6666 272.16-391.6667-825.12-666.6667-790.56c-275 30.24-391.6667 876.96-666.6667 946.08s-391.6666-600.48-666.6666-622.08-391.6667 501.12-666.6667 518.4-391.6667-531.36-666.6667-427.68-391.6666 946.08-666.6666 924.48-391.6667-993.6-666.6667-1019.52-391.6667 898.56-666.6667 885.6-391.6666-937.44-666.6666-941.76-391.6667 1028.16-666.6667 920.16-391.6667-1473.12-666.6667-1442.88-375 1611.36-666.6666 1576.8-333.3334-725.76-666.6667-725.76c-333.3333 0-375 1058.4-666.6667 954.72-275-99.36-391.6666-1330.56-666.6666-1447.2s-391.6667 885.6-666.6667 889.92-391.6667-997.92-666.6667-872.64-391.6666 1447.2-666.6666 1468.8-391.6667-1222.56-666.6667-1365.12-391.6667 669.6-666.6667 686.88-391.6666-673.92-666.6666-600.48-391.6667 989.28-666.6667 954.72c-275-30.24-391.6667-1101.6-666.6667-1110.24s-391.6666 997.92-666.6666 1075.68-391.6667-747.36-666.6667-695.52-391.6667 1002.24-666.6667 950.4-391.6666-1149.12-666.6666-1205.28-391.6667 881.28-666.6667 933.12-391.6667-604.8-666.6667-691.2-391.6666 380.16-666.6666 272.16-391.6667-825.12-666.6667-790.56c-275 30.24-391.6667 876.96-666.6667 946.08s-391.6666-600.48-666.6666-622.08-391.6667 501.12-666.6667 518.4-391.6667-531.36-666.6667-427.68-391.6666 946.08-666.6666 924.48-391.6667-993.6-666.6667-1019.52c-275-25.92-391.6667 898.56-666.6667 885.6-275-12.96-391.6666-937.44-666.6666-941.76s-391.6667 1028.16-666.6667 920.16-391.6667-1473.12-666.6667-1442.88-375 1611.36-666.6666 1576.8-333.3334-725.76-666.6667-725.76z'/%3E%3C/defs%3E%3Cuse href='%23wave' fill='%230b52c3' opacity='0.4' /%3E%3Cuse href='%23wave' stroke='%23ffffff' stroke-width='20' stroke-opacity='0.01' fill='none' transform='translate(0,10)' /%3E%3Cuse href='%23wave' stroke='%23ffffff' stroke-width='90' stroke-opacity='0.02' fill='none' filter='url(%23b1)' transform='translate(0,55)' /%3E%3Cuse href='%23wave' stroke='%23ffffff' stroke-width='50' stroke-opacity='0.0' fill='none' filter='url(%23b1)' transform='translate(0,100)' /%3E%3Cuse href='%23wave' stroke='%2318bbdb' stroke-width='0' stroke-opacity='0.6' fill='%2318bbdb' filter='url(%23b3)' transform='translate(0,600)' /%3E%3C/svg%3E");

    --wave-height: 150%;
    --wave-width: 30000px;
    --wave-speed: 300s;
}

.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt {
    background: var(--background-color);

    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt>* {
    display: none;
}

/* Base Comum: Aplicando o Brilho e Altura Global */
.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt::before,
.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;


    /* only for smooth travel space */
    height: var(--wave-height);

    background-repeat: no-repeat;
    will-change: transform;
    transform: translateZ(0);
    mix-blend-mode: screen;
    pointer-events: none;
    background-size: 100% 100%;
    background-image: var(--wave-1);
    /* contain: strict;
    isolation: isolate; */
    opacity: 1;
}

/* --- Wave 1 --- */
.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt::before {
    width: var(--wave-width);
    animation: move-wave-1 var(--wave-speed) linear reverse infinite;
}

/* --- Wave 2 --- */
.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt::after {
    /* background-image: var(--wave-1); */
    width: calc(var(--wave-width) * 0.9);
    animation: move-wave-2 var(--wave-speed) linear reverse infinite;
}


@keyframes move-wave-1 {
    0% {
        transform: translateX(0) translateY(2%);
    }

    25% {
        transform: translateX(-21.7391%) translateY(4%);
    }

    50% {
        transform: translateX(-43.4782%) translateY(2%);
    }

    75% {
        transform: translateX(-65.2173%) translateY(0%);
    }

    100% {
        transform: translateX(-86.9564%) translateY(2%);
    }
}


@keyframes move-wave-2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-86.9564%);
    }
}

/* .topleveltransitionswitch_EnterActive_Cpk9b *,
.topleveltransitionswitch_ExitActive_SoGsJ * {
    animation: none !important;
    transition: none !important;
    animation-play-state: paused !important;
    will-change: auto !important;
} */